{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    
{% endblock %}

{% block branding %}
    <div id="head">
        <ul>
            <li><div class="logo"><img src="{% static 'images/CPMS.png' %}" alt="logo"></div></li>
            <li><center>CPMS Admin Panel</center></li>
        </ul>
       <!--  <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div> --> 
    </div>
{% endblock %}

{% block content %}
    <h1></h1>
{% endblock %} 

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'style/adminstyle.css' %}">
    <script src="{% static 'js/chatbot.js' %}"></script>
{% endblock %}

{% block footer %}
    <div id="footer">Copyright &copy; 2021 - www.CancerpatientManagementSyatem.com - All rights reserved</div>
{% endblock %}
