{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'CPMS.png' %}" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <title>Select the semester</title>
</head>

<body>
    <div class="navbar navbar-fixed-top bg ">
        <div class="container-fluid">
            <img src="{% static 'CPMS.png' %}" width="70" height="70"  alt="">
            <li class="site-head">Cancer Patient Management System</li>
            <li class="nav-list1 home-margin active1"><a href="#"> Home</a></li>
            <li class="nav-list1"><a href="#About Us">About Us</a></li>
            <li class="nav-list1"><a href="#Contact Us">Contact Us</a></li>
            <li class="nav-list1"><a href="login.html"> Log In</a></li>
             
           </div>
        </div>
    
</body>

</html> 